<!DOCTYPE html>
<html>
  <head>
    <title>IPromise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if signed_in? %>
  Logged in as: <%= current_user.email %>
  <%= button_to 'Log out', sign_out_path, method: :delete %>
<% end %>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>
    <%= yield %>
  </body>
</html>
