<div class='sign-out-link'>
  <%= link_to 'Sign out', sign_out_path, method: :delete %>
</div>


<div class='container' id='show'>
<% if signed_in? %>

<% end %>
<h1 class='logo' id='logo-show'>iPromise</h1>

<h1 class="name">Hi <%= current_user.firstname %>!</h1>
<h2 class="promises">Here are your promises:</h1>
    <% @promises.each do |promise| %>
      <% if promise.text == 'Other'%>
        <p><%= promise.other_text %></p>
      <% else %>
        <p><%= promise.text %></p>
      <% end %>
    <% end %>

<div id='create'>
<%= link_to 'create a new promise', new_promise_path %>
</div>
</div>
