<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script>
$(document).ready(function(){
  $("#hidden_fields").hide();
  $('#promise_category').on('change', function() {
    if ( this.value == '4') {
      $("#hidden_fields").show();
    } else {
      $("#hidden_fields").hide();
    }
  });
});
</script>
</head>

<h2>Create a new promise</h2>

<%= form_for :promise, url: promises_path do |form| %>

  <div class='subheading'>What would you like to promise?<div>

    <%= select(:promise, :category, [
      ['Limit social media usage', 1], 
      ['Limit time on streaming sites', 2], 
      ['Turn off phone', 3],
      ['Other', 4]
      ]) %>

  <div class='other_promise' id="hidden_fields" >
    <%= form.label :text, 'I promise...' %>
    <%= form.text_field :text %>
  </div>

  <div> How would you like to measure your promise? </div>
  
  <div>
  <%= select(:promise, :category, [
    ['Number of hours', 1], 
    ['Set time per night', 2], 
    ]) %>
  </div>
  <br>  
  <%= form.label :punishment, 'If I break my promise...' %>
  <%= form.text_field :punishment %>
  <br>
  <%= form.label :end_datetime, 'End date:'%>
  <%= form.date_select(:end_datetime, order: [:day, :month, :year], start_year: Date.today.year - 0, end_year: Date.today.year + 5) %>
  <br>
  <%= form.submit 'Submit' %>
<% end %>
<%= link_to 'Back', promises_path %>
