<div class='container' id='create'>
<h2>Create a new promise</h2>

<%= form_for :promise, url: promises_path do |form| %>
  <%= form.label :text, 'I promise...' %>
  <%= form.text_field :text %>
  <br>
  <%= form.label :interval, 'How often do you want to receive reminder?' %>
  <%= form.text_field :interval, :value => '1 day'%>
  <br>
  <%= form.label :end_datetime, 'End date:'%>
  <%= form.date_select(:end_datetime, order: [:day, :month, :year], start_year: Date.today.year - 0, end_year: Date.today.year + 5) %>
  <br>
  <%= form.label :punishment, 'If I break my promise...' %>
  <%= form.text_field :punishment %>
  <br>
  <%= form.submit 'Submit' %>
<% end %>
<%= link_to 'Back', promises_path %>
</div>