<%= form_for @promise do |f| %>
  <h1>Oh no <%= current_user.firstname %>! You broke your promise:</h1>
  <h2>I promise <%=@promise.text%></h2>
  <h1>Time for your punishment... Here's what you're going to do: </h1>
  <h2>If I break my promise <%=@promise.punishment%></h2>
<% end %>
<%= link_to 'create a new promise', new_promise_path %>
