<%= image_tag('giphy.gif', draggable: "true", id: "drag1", :size => "1000x300",class: "center-block")%>
<div class="punishment-container">
<h2 align="center">Oh no, <%= current_user.firstname %>! You broke your promise!</h2>
<h2>Remember your punishment:</h2>
<% unless @promise.text == 'Other' %>
 <h3>Here's your punishment: <%=@promise.punishment%></h3>
<% else %>
 <h3>Here's your punishment: <%=@promise.other_punishment%></h3>
<% end %>
<div class="link-to-text1">
<%= link_to 'create a new promise', new_promise_path ,class: 'link-to-text1'%>
 </div>
</div>
